* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: aqua;
}

.about {
    min-height: 100vh;
    width: 100%;
    padding: 78px 0px;
    background-color: black;
}

.about img {
    border: 2px solid red;
    box-shadow: 0 0 5px red 0 0 25px red;
    height: auto;
    width: 50%;
    border-radius: 5cm;
    transition: 0.5s ease;
    margin-left: 1cm;
}

.main {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.about-text h2 {
    font-size: 70px;
    text-transform: 25px;
    margin-right: 70px;
    margin-right: 0.8cm;
    flex-wrap: wrap;

}
.name {
    margin-bottom: 30px;
    margin-left: 0.8cm;
    font-size: 20px;
}
.about-text h5{
    color: aqua;
    font-size: 20px;
    text-transform: 25px;
    margin-bottom: 0.4cm;
}
.about-text p{
    color: aqua;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}
button{
    background: transparent;
    color: aqua;
    font-size: 10px;
    text-decoration: none;
    border: 2px solid aqua;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s ease;
    margin-top: 220px;
    cursor: pointer;


}
